################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArrayPointer/.vs/ArrayPointer/v15
